/* Translation Page - Start */

@import url(https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);

* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    background-image: url("../images/translation-background.jpg");
    background-position: center;
    background-size: cover;
}

.container {
    width: 1280px;
    height: auto;
    margin: auto;
    padding: 35px;
}

.menu-title {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 68px;
    text-transform: uppercase;
    color: rgb(4, 13, 8);
}

.translation-text {
    font-family: "Poppins", sans-serif;
    font-size: 34px;
    line-height: 58px;
    color: rgb(38, 10, 3);
}

@media only screen and (max-width: 1024px) {
    .container {
        width: 100%;
    }

    .menu-title {
        font-size: 58px;
    }

    .translation-text {
        font-size: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .menu-title {
        font-size: 48px;
    }

    .translation-text {
        font-size: 26px;
    }
}

@media only screen and (max-width: 512px) {
    .menu-title {
        font-size: 26px;
        text-align: center;
    }

    .translation-text {
        font-size: 20px;
        text-align: center;
    }
}

/* Translation Page - End */
